@use "nav";
@use "color";

@each $key, $color in color.$colors {
  .fc-#{$key} {
    color: darken($color, 5%);
  }

  .bg-#{$key} {
    background: $color;
    font-weight: normal;
    color: #fff;
  }

  .btn-#{$key} {
    background-color: $color;
    border: 0;
    color: #fff;

    &:hover {
      background-color: darken($color, 5%);
      color: #fff;
    }
  }
}

.alert-danger {
  background-color: map-get(color.$colors, "cred");
  color: #fff;
  border: 0;
}

html,
body {
  font-size: 14px;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: darken(map-get(color.$colors, "main"), 10%);

  &:hover {
    color: darken(map-get(color.$colors, "main"), 15%);
  }
}

small {
  font-size: 0.5em;
}

.form-control:focus {
  border: 1px solid #ccc !important;
  box-shadow: none !important;
}

.form-floating label {
  font-size: 0.8rem;
  color: #999;
  padding: 1rem !important;

  &.label-adj01 {
    top: -5px;
  }
}

.form-floating label b {
  color: #e91e63;
  padding-left: 0.2rem;
}

.tagit:hover + .label-adj01 {
  display: none;
}

.badge {
  font-weight: normal;
}

.table-lg {
  td {
    padding: 1.5rem 1rem;
  }
}

.cell-fit {
  width: 50px;
  white-space: nowrap;
}

.drag-area {
  display: inline-block;
  padding: 0 0.5rem;
  background: #fafafa;
  border: 1px solid #ccc;
  margin-right: 1rem;
}

.thumb01 {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #ccc;

  &:before {
    display: block;
    content: "";
    padding-top: 70%;
  }
}

table th {
  text-align: center;
  background: color.$main !important;
  color: #fff !important;
}
